<a href="https://colab.research.google.com/github/heejvely/second-projecct/blob/main/analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/2차 의도분류/origin_dataframe/refined/with_place_revised_pred.csv')

In [14]:
df

        score  ... pred_score
0         5.0  ...   0.555946
1         5.0  ...   0.976990
2         5.0  ...   0.999509
3         4.0  ...   0.998982
4         4.0  ...   0.916359
...       ...  ...        ...
122490    5.0  ...   0.998199
122491    5.0  ...   0.989102
122492    4.0  ...   0.972510
122493    4.0  ...   0.959843
122494    4.0  ...   0.999824

[122495 rows x 5 columns]

In [19]:
def cat(x):
    if x in ['광화문광장', '남산골한옥마을', '명동성당', '봉은사', '북촌한옥마을', '이화벽화마을', 
            '이화동벽화마을', '익선동한옥거리', '익선동', '조계사']: return '명소'
    if x in ['대림미술관', '디뮤지엄', '삼성딜라이트', '세종문화회관', '예술의전당', '트릭아이뮤지엄',
              '한가람미술관']: return '문화'
    if x in ['가든파이브', '동대문디자인플라자', '롯데월드몰', '스타필드', '스타필드코엑스몰',
              '홍대앞거리','홍대쇼핑거리']: return '쇼핑몰'
    if x in ['가락시장', '광장시장', '남대문시장', '노량진수산물도매시장', '노량진수산시장', '독립문',
              '동묘벼룩시장', '서울풍물시장', '통인시장']: return '시장'
    if x in ['경복궁', '경복궁(1180)', '국립고궁박물관', '국립중앙박물관', '덕수궁', '동대문',
              '서대문형무소역사관', '서울역사박물관', '전쟁기념관', '창경궁', '창덕궁', 
               '한국전쟁기념관', '흥인지문']: return '역사'
    elif x in ['낙산공원', '마로니에공원', '망원한강공원', '반포한강공원', '보라매공원',
              '북서울꿈의숲', '북악팔각정', '서울로7017', '서울숲', '서울숲공원', '서울식물원',
              '석촌호수', '석촌호수공원', '여의도공원', '여의도한강공원', '잠실한강공원',
              '청계천', '하늘공원']: return '자연/여가'
    if x in ['63아트', '63시티', 'N서울타워', '남산케이블카', '롯데월드타워']: return '전망대'
    if x in ['롯데월드', '롯데월드아쿠아리움', '서울대공원', '어린이대공원', 
             '서울랜드', '서울어린이대공원',  '63아쿠아플라넷', '코엑스아쿠아리움', '63시월드']: return '테마파크'

df['cat'] = df['place'].apply(cat)

In [17]:
def cat_jung(x):
    if x in ['63시월드', '63아쿠아플라넷']: return '63아쿠아플라넷'
    if x in ['63시티', '63아트']: return '63스퀘어'
    if x in ['가든파이브']: return '가든파이브'
    if x in ['가락시장']: return '가락시장'
    if x in ['경복궁', '경복궁(1180)']: return '경복궁'
    if x in ['광장시장']: return '광장시장'
    if x in ['광화문광장']: return '광화문광장'
    if x in ['국립고궁박물관']: return '국립고궁박물관'
    if x in ['국립중앙박물관']: return '국립중앙박물관'
    if x in ['낙산공원']: return '낙산공원'
    if x in ['남대문시장']: return '남대문시장'
    if x in ['남산골한옥마을']: return '남산골한옥마을'
    if x in ['남산케이블카', 'N서울타워']: return 'N서울타워'
    if x in ['노량진수산물도매시장', '노량진수산시장']: return '노량진수산시장'
    if x in ['대림미술관']: return '대림미술관'
    if x in ['덕수궁']: return '덕수궁'
    if x in ['독립문']: return '영천시장'
    if x in ['동대문', '흥인지문']: return '동대문'
    if x in ['동대문디자인플라자']: return '동대문디자인플라자'
    if x in ['동묘벼룩시장']: return '동묘벼룩시장'
    if x in ['디뮤지엄']: return '디뮤지엄'
    if x in ['롯데월드']: return '롯데월드'
    if x in ['롯데월드몰']: return '롯데월드몰'
    if x in ['롯데월드아쿠아리움']: return '롯데월드아쿠아리움'
    if x in ['롯데월드타워']: return '롯데월드타워'
    if x in ['마로니에공원']: return '마로니에공원'
    if x in ['망원한강공원']: return '망원한강공원'
    if x in ['명동성당']: return '명동성당'
    if x in ['반포한강공원']: return '반포한강공원'
    if x in ['보라매공원']: return '보라매공원'
    if x in ['봉은사']: return '봉은사'
    if x in ['북서울꿈의숲']: return '북서울꿈의숲'
    if x in ['북악팔각정']: return '북악팔각정'
    if x in ['북촌한옥마을']: return '북촌한옥마을'
    if x in ['삼성딜라이트']: return '삼성딜라이트'
    if x in ['서대문형무소역사관']: return '서대문형무소역사관'
    if x in ['서울대공원']: return '서울대공원'
    if x in ['서울랜드']: return '서울랜드'
    if x in ['서울로7017']: return '서울로7017'
    if x in ['서울숲', '서울숲공원']: return '서울숲'
    if x in ['서울식물원']: return '서울식물원'
    if x in ['서울어린이대공원', '어린이대공원']: return '어린이대공원'
    if x in ['서울역사박물관']: return '서울역사박물관'
    if x in ['서울풍물시장']: return '서울풍물시장'
    if x in ['석촌호수', '석촌호수공원']: return '석촌호수'
    if x in ['세종문화회관']: return '세종문화회관'
    if x in ['스타필드', '스타필드코엑스몰']: return '스타필드코엑스몰'
    if x in ['여의도공원']: return '여의도공원'
    if x in ['여의도한강공원']: return '여의도한강공원'
    if x in ['예술의전당']: return '예술의전당'
    if x in ['이화동벽화마을', '이화벽화마을']: return '이화벽화마을'
    if x in ['익선동', '익선동한옥거리']: return '익선동'
    if x in ['잠실한강공원']: return '잠실한강공원'
    if x in ['전쟁기념관', '한국전쟁기념관']: return '전쟁기념관'
    if x in ['조계사']: return '조계사'
    if x in ['창경궁']: return '창경궁'
    if x in ['창덕궁']: return '창덕궁'
    if x in ['청계천']: return '청계천'
    if x in ['코엑스아쿠아리움']: return '코엑스아쿠아리움'
    if x in ['통인시장']: return '통인시장'
    if x in ['트릭아이뮤지엄']: return '트릭아이뮤지엄'
    if x in ['하늘공원']: return '하늘공원'
    if x in ['한가람미술관']: return '한가람미술관'
    if x in ['홍대쇼핑거리', '홍대앞거리']: return '홍대앞거리'
df['cat_jung'] = df['place'].apply(cat_jung)

In [21]:
df[df.place.str.contains('')]

Empty DataFrame
Columns: [score, comment, place, emotion, pred_score, cat, cat_jung]
Index: []

In [33]:
df = pd.read_csv('/content/drive/MyDrive/2차 의도분류/origin_dataframe/refined/final_dataframe.csv')

In [34]:
df.score.replace({
                0.0: 0,
                0.5: 0,
                1.0: 0,
                1.5: 0,
                2.0: 0,
                2.5: 1,
                3.0: 1,
                3.5: 1,
                4.0: 2,
                4.5: 2,
                5.0: 2},inplace=True)

In [41]:
df.to_csv('/content/drive/MyDrive/2차 의도분류/origin_dataframe/refined/anlaysis_dataframe.csv')

In [42]:
df.dropna(axis=0).to_csv('/content/drive/MyDrive/2차 의도분류/origin_dataframe/refined/anlaysis_dataframe_dropna.csv')

In [44]:
df

        score                                            comment  ...  cat  cat_jung
0         2.0  코로나로 인해 사람이 인적이 적어졌지만 비오늘날 서울 시티트어를 하기엔 너무 좋은 ...  ...  전망대     N서울타워
1         2.0  서울의 전경을 볼 수 있어 너무 좋아요. 서두르세요. 다음엔 남산타워 전망대 티켓까...  ...  전망대     N서울타워
2         2.0  분위기 전환, 데이트하러 방문하기 좋은 거 같아요. 비오는 날이라 아쉽지만 그래도 ...  ...  전망대     N서울타워
3         2.0  서울에 사는 사람들에게는 너무 자주 볼 수 있어서 막상 살면서 몇번 안 올라가게 되...  ...  전망대     N서울타워
4         2.0  필수코스. 나 자신은 서울사람으로 여러번 다녀왔지만 아기와 남편을 위해 가 봄. 서...  ...  전망대     N서울타워
...       ...                                                ...  ...  ...       ...
122490    2.0  바쁘 고 분주 하 ㄴ 시장 이 있 는, 잘 하 면. 모든 가게 가 있 는 것 같 다...  ...   시장     남대문시장
122491    2.0  저희 가 제일 좋아하 는 곳 이 ㅂ니다. 훌륭하 ㄴ 기념품, 음식 골목, 의류, 귀...  ...   시장     남대문시장
122492    2.0  우리가 이 곳을 몇 번을 미용 제품 및 기념품.최고의 장소에서 매우 싼 가격에 기념...  ...   시장     남대문시장
122493    2.0  선물 같은 큰 시장의 휴대폰 케이스, 로컬 입히 다, 지갑 및 변경다른 모든 유형의...  ...   시장     남대문시장
122494    2.0  우리는 12시간 경유 인천 가는 고속 열차를 타고 서울역 택시 운전사를 태우 여기서...  ...   시장     남대문시장

[122495 rows x 6 columns]

In [43]:
df1 = df.dropna(axis=0)
df1

        score                                            comment  ...  cat  cat_jung
0         2.0  코로나로 인해 사람이 인적이 적어졌지만 비오늘날 서울 시티트어를 하기엔 너무 좋은 ...  ...  전망대     N서울타워
1         2.0  서울의 전경을 볼 수 있어 너무 좋아요. 서두르세요. 다음엔 남산타워 전망대 티켓까...  ...  전망대     N서울타워
2         2.0  분위기 전환, 데이트하러 방문하기 좋은 거 같아요. 비오는 날이라 아쉽지만 그래도 ...  ...  전망대     N서울타워
3         2.0  서울에 사는 사람들에게는 너무 자주 볼 수 있어서 막상 살면서 몇번 안 올라가게 되...  ...  전망대     N서울타워
4         2.0  필수코스. 나 자신은 서울사람으로 여러번 다녀왔지만 아기와 남편을 위해 가 봄. 서...  ...  전망대     N서울타워
...       ...                                                ...  ...  ...       ...
122490    2.0  바쁘 고 분주 하 ㄴ 시장 이 있 는, 잘 하 면. 모든 가게 가 있 는 것 같 다...  ...   시장     남대문시장
122491    2.0  저희 가 제일 좋아하 는 곳 이 ㅂ니다. 훌륭하 ㄴ 기념품, 음식 골목, 의류, 귀...  ...   시장     남대문시장
122492    2.0  우리가 이 곳을 몇 번을 미용 제품 및 기념품.최고의 장소에서 매우 싼 가격에 기념...  ...   시장     남대문시장
122493    2.0  선물 같은 큰 시장의 휴대폰 케이스, 로컬 입히 다, 지갑 및 변경다른 모든 유형의...  ...   시장     남대문시장
122494    2.0  우리는 12시간 경유 인천 가는 고속 열차를 타고 서울역 택시 운전사를 태우 여기서...  ...   시장     남대문시장

[122459 rows x 6 columns]

In [51]:
real_cat = pd.pivot_table(df1, index='cat', columns = 'score',values='comment', aggfunc='count').reset_index()

In [52]:
pred_cat = pd.pivot_table(df1, index='cat', columns = 'emotion',values='comment', aggfunc='count').reset_index()

In [53]:
pred_cat

emotion    cat     0      1      2
0           명소   804   3183   6129
1           문화  1106   3308   6229
2          쇼핑몰   815   1908   3022
3           시장  1166   3117   4850
4           역사   960   5594  13911
5        자연/여가  1027   4579  12006
6          전망대  1123   3885   6450
7         테마파크  3848  11180  22259

In [55]:
real_cat['sum'] = real_cat[0] +real_cat[1] + real_cat[2]
pred_cat['sum'] = pred_cat[0] +pred_cat[1] + pred_cat[2]

In [56]:
for i in [0,1,2]:
  real_cat[f'{i}_rate'] = real_cat[i]/real_cat['sum']

real_cat

score    cat   0.0   1.0    2.0    sum    0_rate    1_rate    2_rate
0         명소   359  1129   8628  10116  0.035488  0.111605  0.852906
1         문화   614  1254   8775  10643  0.057691  0.117824  0.824486
2        쇼핑몰   376   946   4423   5745  0.065448  0.164665  0.769887
3         시장   686  1437   7010   9133  0.075112  0.157342  0.767546
4         역사   233  1219  19013  20465  0.011385  0.059565  0.929050
5      자연/여가   378  1346  15888  17612  0.021463  0.076425  0.902112
6        전망대   531  1530   9397  11458  0.046343  0.133531  0.820126
7       테마파크  1604  4064  31619  37287  0.043018  0.108992  0.847990

In [57]:
for i in [0,1,2]:
  pred_cat[f'{i}_rate'] = pred_cat[i]/pred_cat['sum']

pred_cat

emotion    cat     0      1      2    sum    0_rate    1_rate    2_rate
0           명소   804   3183   6129  10116  0.079478  0.314650  0.605872
1           문화  1106   3308   6229  10643  0.103918  0.310815  0.585267
2          쇼핑몰   815   1908   3022   5745  0.141862  0.332115  0.526023
3           시장  1166   3117   4850   9133  0.127669  0.341290  0.531041
4           역사   960   5594  13911  20465  0.046909  0.273345  0.679746
5        자연/여가  1027   4579  12006  17612  0.058313  0.259993  0.681694
6          전망대  1123   3885   6450  11458  0.098010  0.339064  0.562925
7         테마파크  3848  11180  22259  37287  0.103200  0.299836  0.596964

In [64]:
real_cat_jung = pd.pivot_table(df1, index='cat_jung', columns = 'score',values='comment', aggfunc='count').reset_index()
pred_cat_jung = pd.pivot_table(df1, index='cat_jung', columns = 'emotion',values='comment', aggfunc='count').reset_index()

real_cat_jung['sum'] = real_cat_jung[0] +real_cat_jung[1] + real_cat_jung[2]
pred_cat_jung['sum'] = pred_cat_jung[0] +pred_cat_jung[1] + pred_cat_jung[2]

for i in [0,1,2]:
  real_cat_jung[f'{i}_rate'] = real_cat_jung[i]/real_cat_jung['sum']

for i in [0,1,2]:
  pred_cat_jung[f'{i}_rate'] = pred_cat_jung[i]/pred_cat_jung['sum']

In [66]:
real_cat.to_csv('/content/drive/MyDrive/2차 의도분류/origin_dataframe/refined/real_cat.csv')
real_cat_jung.to_csv('/content/drive/MyDrive/2차 의도분류/origin_dataframe/refined/real_cat_jung.csv')
pred_cat.to_csv('/content/drive/MyDrive/2차 의도분류/origin_dataframe/refined/pred_cat.csv')
pred_cat_jung.to_csv('/content/drive/MyDrive/2차 의도분류/origin_dataframe/refined/pred_cat_jung.csv')